@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* 共通 */
html,body{
	font-size: 14px;
	font-family: 'Noto Sans',sans-serif;
	color: #3B3B3B;
	background-color: #FCFCFC;
}

@media screen and (min-width: 1280px){
	html,body{
		font-size: 16px;
	}
}

body,div,p,h1,h2,ul,figure{
	margin: 0;
	padding: 0;
}

p,td,th,li{
	line-height: 1.38;
}

img{
	display: block;
	width: 100%;
}

h1,h2{
	font-weight: normal;
	font-size: 24px;
	letter-spacing: 2.4px;
	margin-bottom: 48px;
}

a{
	display: block;
	color: #3B3B3B;
	text-decoration: none;
}

a:hover{
	color: #3B3B3B;
}

a:visited{
	color: #3B3B3B;
}

.container{
	margin: 0 auto;
	max-width: 375px;
}

@media screen and (min-width: 1280px){
	.container{
		max-width: 1280px;
	}
}

/* header */

header{
	background: #918F89;
}

.header-container{
	box-sizing: border-box;
	padding: 8px 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.header-logo{
	width: 39px;
	margin: 8px 0;
}

.header-nav{
	display: none;
}

@media screen and (min-width: 1280px){
	header{
		background: #FCFCFC;
	}

	.header-container{
		padding: 8px 96px;
		justify-content: space-between;
		align-items: center;
	}

	.header-nav{
		display: block;
	}
}

.header-nav-list{
	display: flex;
	list-style: none;
}

.header-nav-list li{
	margin-right: 56px;
}

.header-nav-list li a{
	color: #B2B2B2;
}

.header-nav-list .header-current-page{
	color: #3B3B3B;
}

.header-nav-list li:last-child{
	margin-right: 0;
}

/* main */

main{
	margin-bottom: 320px;
}

main section{
	text-align: center;
	padding: 0 24px;
}

@media screen and (min-width: 1280px){
	main section{
		padding: 0 88px;
	}
}

/* main-key-visual */

.main-keyvisual{
	position: relative;
	margin-bottom: 80px;
}

.main-keyvisual img{
	height: 744px;
	object-fit: cover;
	object-position: 45% center;
}

@media screen and (min-width: 1280px){
	.main-keyvisual{
		margin-bottom: 88px;
	}
	
	.main-keyvisual img{
		object-position: center center;
	}
}


.main-keyvisual p{
	position: absolute;
	color: #918F89;
	font-size: 39px;
	letter-spacing: 1.95px;
	top: 18%;
	right: 0;
	left: 0;
}

@media screen and (min-width: 1280px){
	.main-keyvisual p{
		font-size: 53px;
		letter-spacing: 2.65px;
		top: 37%;
		right: 0;
		left: 0;
	}
}

.main-keyvisual span{
	display: inline-block;
	padding: 16px 16px 16px 54px;
	margin-bottom: 16px;
	background: rgba(255,255,255,0.6);
}

@media screen and (min-width: 1280px){
	.main-keyvisual span{
		display: inline;
		padding: 32px 0;
		background: rgba(255,255,255,0.8);
	}
	
	.main-keyvisual .main-keyvisual-separater1{
		padding-left: 88px;
	}
	
	.main-keyvisual .main-keyvisual-separater3{
		padding-right: 32px;
	}
}

/* main-key-visual */
/* main-description */

.main-description{
	display: flex;
	flex-flow: column-reverse;
	margin-bottom: 240px;
}

@media screen and (min-width: 1280px){
	.main-description{
		flex-flow: row;
	}
}

.main-description-img img{
	object-fit: cover;
	height: 264px;
}

@media screen and (min-width: 1280px){
	.main-description-img{
		flex: 1 1 auto;
		max-width: 560px;
	}

	.main-description-img img{
		object-fit: contain;
		height: auto;
	}
}

.main-description-text{
	text-align: center;
	margin-bottom: 24px;
}

.main-description-text h1{
	margin: 0 49px 32px 64px;
	display: inline-block;
	font-size: 21px;
	font-weight: normal;
	letter-spacing: 2.1px;
}

.main-description-text p{
	font-size: 14px;
	letter-spacing: 0.42px;
	line-height: 35px;
}

@media screen and (min-width: 1280px){
	.main-description-text{
		text-align: left;
		flex: 1 1 auto;
		padding: 90px 56px;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
	}
	
	.main-description-text h1{
		font-size: 25px;
		font-weight: normal;
		letter-spacing: 2.5px;
		margin:0 0 71px 0;
	}
	
	.main-description-text p{
		font-size: 12px;
		letter-spacing: 0.36px;
		line-height: 30px;
	}
	.br-sp{
		display: none;
	}
}
/* main-description */
/* main-news */

.main-news{
	margin-bottom: 240px;
}

.main-news a{
	position: relative;
	display: inline-block;
	font-size: 18px;
	letter-spacing: 0.9px;
}

.fa-chevron-right{
	position: absolute;
	top: 25%;
	left: 105px;
	color:#919191;
	font-size: 12px;
}

@media screen and (min-width: 1280px){
	.main-news a{
		opacity: 0.3;
	}
}

.main-news-list{
	display: flex;
	flex-flow: column;
	padding: 0 27px;
	list-style: none;
	justify-content: space-between;
	margin-bottom: 32px;
}

.main-news-list li{
	margin-bottom: 24px;
}

.main-news-list li:last-child{
	margin-bottom: 0;
}

@media screen and (min-width: 1280px){
	.main-news-list{
		padding: 0;
		flex-flow: row;
	}

	.main-news-list li{
		margin: 0;
	}
}

.main-news-list figure{
	flex:	1 1 320px;
	background: #000;
	position: relative;
}

.main-news-list img{
	opacity: 0.6;
}

.main-news-list figcaption{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 17px;
	margin: auto;
	color: #FFF;
	letter-spacing: -0.75px;
	font-size: 15px;
}

@media screen and (min-width: 1280px){
	.main-news-list figcaption{
		letter-spacing: -0.85px;
		font-size: 17px;
		text-shadow: 0px 0px 6px #000000E0;
	}
}

/* main-news */
/* main-catalog */

.main-catalog{
	margin-bottom: 240px;
}

.main-catalog p{
	font-size: 15px;
	letter-spacing: 0.45px;
	line-height: 2;
	margin-bottom: 40px;
}

.main-catalog a{
	background: #D1D1D1;
	width: 344px;
	margin: 0 auto;
	padding: 18px 0;
	font-size: 18px;
	color: #707070;
	letter-spacing: 1.8px;
	border-radius: 28px;
}

.main-catalog a:hover{
	background: #B2B2B2;
	color: #FCFCFC;
}

/* main-catalog */

/* main-contact */

.main-contact{
	margin-bottom: 240px;
}

.main-contact-form{
	max-width: 454px;
	margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea{
	display: block;
	width: 100%;
	padding: 10px 16px;
	font-size: 12px;
	letter-spacing: 0.6px;
	box-sizing: border-box;
	border: #707070 1px solid;
	border-radius: 16px;
}

input[type="text"],
input[type="email"]{
	margin-bottom: 24px;
}

textarea{
	margin-bottom: 40px;
}

input[type="submit"]{
	color: #707070;
	font-size: 14px;
	letter-spacing: 1.4px;
	background: #D1D1D1;
	padding: 7px 0;
	width: 161px;
	border: #D1D1D1 1px solid;
	border-radius: 16px;
}

input[type="submit"]:hover{
	background: #B2B2B2;
	color: #FCFCFC;
}

/* main-contact */

/* main-recruit */

.main-recruit p{
	font-size: 15px;
	letter-spacing: 0.45px;
	line-height: 2;
	margin-bottom: 40px;
}

.main-recruit a{
	font-size: 18px;
	letter-spacing: 0.9px;
	opacity: 0.3;
}

/* main-recruit */

/* others-keyvisual */

.other-keyvisual{
	position: relative;
	margin-bottom: 160px;
}

.other-keyvisual img{
	max-height: 456px;
	object-fit: cover;
}

.other-keyvisual p{
	position: absolute;
	color: #918F89;
	font-size: 30px;
	letter-spacing: 3px;
	top: 42%;
	left: 0;
	right: 0;
}

.other-keyvisual span{
	padding-left: 228px;
}

.other-keyvisual .contact-keyvisual-text-decorater{
	color: #FCFCFC;
}

/* others-keyvisual */

/* recruit-page */

.recruit-content table{
	margin: 0 auto;
	width: 640px;
	border-collapse: separate;
	text-align: left;
	border-spacing: 0;
}

.recruit-content th{
	background: #DCDBD9;
	border: 1px solid #707070;
	font-size: 16px;
	width: 144px;
	letter-spacing: 0px;
	font-weight: normal;
	text-align: center;
}

.recruit-content tr:first-child th{
	border-radius: 4px 0 0 0;
	border-bottom: none;
}

.recruit-content tr:first-child td{
	border-radius: 0 4px 0 0;
}

.recruit-content tr:last-child td{
	border-bottom: 1px solid #707070;
	border-radius: 0 0 4px 0;
}

.recruit-content tr:nth-child(4) th{
	border-radius: 0 0 0 4px;
}

.recruit-content td{
	font-size: 14px;
	line-height: 1.6;
	padding: 16px 0 16px 48px;
	border: 1px solid #707070;
	border-bottom: none;
	border-left: none;
}

.recruit-content .table-deta-heading{
	font-size: 16px;
	letter-spacing: 0;
}

.recruit-content ul{
	padding-top: 8px;
	font-size: 14px;
	list-style: none;
}

.recruit-content li{
	margin-bottom: 3px;
}

.recruit-content li:last-child{
	margin-bottom: 0;
}

.recruit-content li::before{
	content: "・";
}


/* recruit-page */

/* contact-page */

.contact-content h1{
	margin-bottom: 40px;
}

.contact-content p{
	font-size: 15px;
	margin-bottom: 72px;
	letter-spacing: 0.6px;
}

/* contact-page */

/* footer */

footer{
	background: #918F89;
	color: #FFF;
	padding: 72px 0 32px 0;
	text-align: center;
}

@media screen and (min-width: 1280px){
	footer{
		padding: 120px 0 24px 0;
	}
}

.footer-container{
	margin-bottom: 82px;
	display: flex;
	justify-content: center;
}

.footer-container img{
	width: 51.7px;
}

@media screen and (min-width: 1280px){
	.footer-container{
		margin: 0 224px 40px 224px;
		justify-content: space-between;
	}

	.footer-container img{
		width: 64px;
	}
}

.footer-list{
	display: none;
	list-style: none;
}

@media screen and (min-width: 1280px){
	.footer-list{
		display: flex;
	}
}

.footer-list a{
	color: #FFF;
}

.footer-list li{
	font-size: 18px;
	margin-right: 32px;
}

.footer-list li:last-child{
	margin-right: 0;
}

footer small{
	font-size: 11px;
	letter-spacing: 0.44px;
}