@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* 共通 */
html,body{
	font-size: 16px;
	font-family: 'Noto Sans JP',sans-serif;
	color: #3B3B3B;
	background-color: #FCFCFC;
}

body,div,p,h1,h2,ul,figure{
	margin: 0;
	padding: 0;
}

p,td,th,li{
	line-height: 1.38;
}

img{
	display: block;
	width: 100%;
}

a{
	display: block;
	color: #3B3B3B;
	text-decoration: none;
}

a:hover{
	color: #3B3B3B;
}

a:visited{
	color: #3B3B3B;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
}

/* header */

.header-container{
	padding: 8px 96px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.header-logo{
	height: 24px;
	margin: 8px 0;
}

.header-nav-list{
	display: flex;
	list-style: none;
}

.header-nav-list li{
	margin-right: 56px;
}

.header-nav-list li:last-child{
	margin-right: 0;
}

/* main */

main section{
	text-align: center;
	padding: 0 88px;
}

/* main-key-visual */

.main-keyvisual{
	position: relative;
	margin-bottom: 80px;
}

.main-keyvisual img{
	max-height: 744px;
	object-fit: cover;
}

.main-keyvisual p{
	position: absolute;
	color: #918F89;
	font-size: 53px;
	letter-spacing: 2.65px;
	top: 37%;
	right: 0;
	left: 0;
}

.main-keyvisual span{
	padding: 32px 0;
	background: #FFF;
	opacity: 0.8;
}

.main-keyvisual .main-keyvisual-separater1{
	padding-left: 88px;
}

.main-keyvisual .main-keyvisual-separater3{
	padding-right: 32px;
}

/* main-key-visual */
/* main-description */

.main-description{
	display: flex;
	margin-bottom: 240px;
}

.main-description-img{
	flex: 1 1 560px;
}

.main-description-text{
	text-align: left;
	flex: 1 1 auto;
	padding: 90px 56px;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
}

.main-description-text h1{
	font-size: 25px;
	font-weight: normal;
	letter-spacing: 2.5px;
	margin-bottom: 71px;
}

.main-description-text p{
	font-size: 12px;
	letter-spacing: 0.36px;
	line-height: 30px;
}
/* main-description */
/* main-news */

.main-news{
	margin-bottom: 240px;
}

.main-news h2{
	font-weight: normal;
	font-size: 23px;
	letter-spacing: 2.3px;
	margin-bottom: 48px;
}

.main-news a{
	font-size: 18px;
	letter-spacing: 0.9px;
}

.fa-chevron-right{
	color:#919191;
	vertical-align: middle;
	font-size: 12px;
}

.main-news-list{
	display: flex;
	list-style: none;
	justify-content: space-between;
	margin-bottom: 32px;
}

.main-news-list figure{
	flex:	1 1 320px;
	background: #000;
	position: relative;
}

.main-news-list img{
	opacity: 0.6;
}

.main-news-list figcaption{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 17px;
	margin: auto;
	color: #FFF;
	letter-spacing: -0.85px;
	font-size: 17px;
}

/* main-news */
/* footer */

footer{
	background: #918F89;
	color: #FFF;
	padding: 120px 0 24px 0;
	text-align: center;
}

.footer-container{
	margin: 0 224px 40px 224px;
	display: flex;
	justify-content: space-between;
}

.footer-container img{
	width: 64px;
}

.footer-list{
	display: flex;
	list-style: none;
}

.footer-list a{
	color: #FFF;
}

.footer-list li{
	font-size: 18px;
	margin-right: 32px;
}

.footer-list li:last-child{
	margin-right: 0;
}

footer small{
	font-size: 11px;
	letter-spacing: 0.44px;
}