@charset "utf-8";

/* 共通 */
html,body{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
}

body,div,p,h1,h2,h3,ul{
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  display: block;
}

p,li{
  line-height: 1.8;
}

a{
  color: #333;
  text-decoration: none;
}


/* header */

header{
  padding: 10px 0 20px 0;
}

.header-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 10px 30px;
}

.header-logo{
  width: 75px;
  margin-right: auto;
}

.header-nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 30px;
}

.header-nav-list li{
  font-size: 14px;
  font-weight: bold;
  margin-right: 21px;
}

.header-nav-list li:last-child{
  margin-right: 0;
}

.header-nav-list a:hover{
  color: #0c419a;
}

.header-menu-list{
  display: flex;
  align-items: center;
  list-style: none;
}

.header-menu-list li{
  margin-right: 30px;
}

.header-menu-list li:last-child{
  margin-right: 0;
}

.header-menu-list a{
  display: block;
}

.header-menu-list a:hover{
  opacity: 0.5;
}

.header-directry-list{
  display: flex;
  margin: 0 30px;
  list-style: none;
  color: #999;
  font-size: 13px;
}

.header-directry-list a{
  color: #999;
}

.header-directry-list li::after{
  content: ">";
  margin: 0 6px;
}

.header-directry-list li:last-child::after{
  content: none;
}


/* main */

/* <----- key-visual -----> */

.main-keyvisual{
  position: relative;
  margin-bottom: 30px;
  color: #fff;
}

.main-keyvisual img{
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.keyvisual-textcontainer{
    max-width: 1000px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.keyvisual-textcontainer p{
  font-size: 20px;
  margin-bottom: 20px;
}

.keyvisual-textcontainer h1{
  font-size: 28px;
}

/* <----- key-visual -----> */

/* <----- share ----->  */

.share-container{
  display: flex;
  justify-content: flex-end;
  max-width: 800px;
  margin: 0 auto 30px auto;
}

.share-container p{
  margin-right: 30px;
}

.share-container ul{
  display: flex;
  list-style: none;
}

.share-container li{
  margin-right: 30px;
}

.share-container li:last-child{
  margin-right: 0;
}

.share-container img{
  width: 24px;
}
/* <----- share ----->  */

/* <----- content -----> */

.main-content{
  margin: 0 auto;
  padding-bottom: 60px;
  max-width: 800px;
}

.main-content h2{
  padding-left: 32px;
  margin-bottom: 24px;
  background: url(../images/bg-heading-h2.png) no-repeat 0 center;
  background-size: 24px;
}

.main-content p{
  margin-bottom: 24px;
}

.content-story-img{
  margin-bottom: 32px;;
}

.main-content .pdf-download{
  width: 320px;
  line-height: 1.4;
  margin: 0 auto 60px auto;
  text-align: center;
}

.pdf-download a{
  position: relative;
  display: block;
  color: #fff;
  padding: 15px 0;
  background: #005bac url(../images/icon-pdf.svg) no-repeat 220px 40px;
}

.pdf-download a:hover{
  opacity: 0.8;
}

.pdf-download a::before{
  content: ">" ;
  height: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin: auto;
}

.main-page-selector{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main-page-selector a{
  color: #0c419a;
}

.main-page-selector a:hover{
  text-decoration: underline;
}

.main-page-selector li:first-child::before{
  content: "<";
  margin-right: 6px;
}

.main-page-selector li:last-child::after{
  content: ">";
  margin-left: 6px;
}

.main-topic-container{
  padding: 20px;
  background: #deecfc;
  margin-bottom: 40px;
}

.main-topic-container p{
  margin-bottom: 10px;
  font-weight: bold;
}

.main-topic-container ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-topic-container li{
  display: flex;
  position: relative;
  border: 1px solid #aeaeae;
  margin-bottom: 10px;
  width: 31%;
  text-align: center;
}

.main-topic-container a{
  background: #fff;
  color: #0c419a;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-topic-container a:hover{
  background: #efefef;
}

.main-topic-container a::before{
  content: ">";
  color: #393939;
  position: absolute;
  height: 28px;
  left: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* <----- content -----> */

/* <----- main info -----> */

.main-info{
  margin: 0 auto;
  max-width: 1000px;
  border-top: 3px solid #666;
  padding: 20px 0;
}

.main-info h2{
  font-size: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px dotted #aeaeae;
}

.main-info-container{
  margin-bottom: 30px;
  border-bottom: 1px dotted #aeaeae;
}

.main-info-container h3{
  font-size: 16px;
  margin-bottom: 16px;
}

.info-list{
  font-size: 14px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.info-list li{
  margin-bottom: 25px;
  width: 25%;
}

.info-list a{
  color: #0c419a;
}

.info-list a:hover{
  text-decoration: underline;
}

.info-list li::before{
  content: ">";
  color: #333;
  margin-right: 14px;
}

.pageback-link{
  display: block;
  max-width: 1000px;
  margin: 0 auto 60px auto;
  color: #0c419a;
}

.pageback-link:hover{
  text-decoration: underline;
}

.pageback-link::before{
  display: inline-block;
  color: #333;
  content: "<";
  padding-right: 14px;
}

/* <----- main info -----> */

/* footer */

footer{
  padding-bottom: 120px;
  border-top: 2px solid #666;
}

.footer-sns-nav{
  padding: 30px 0;
  margin-bottom: 60px;
  border-bottom: 2px solid #666;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-sns-nav p{
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
}

.footer-sns-list{
  list-style: none;
  display: flex;
}

.footer-sns-list li{
  margin-right: 30px;
}

.footer-sns-list li:last-child{
  margin-right: 0;
}

.footer-sns-list img{
  width: 28px;
}

.footer-site-map{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
  border-bottom: 1px solid #bfbfbf;
}

.footer-site-map-container{
  width: 24%;
  margin: 0 5px 40px 5px;
}

.footer-site-map-container ul{
  list-style: none;
}

.footer-site-map-container li{
  margin-bottom: 10px;
}

.footer-site-map-container a{
  display: block;
  font-size: 14px;
}

.footer-site-map-container a:hover{
  text-decoration: underline;
}

.footer-site-map-container a::before{
  content: ">";
  display: inline-block;
  font-weight: normal;
  margin-right: 14px;
}

.footer-site-map-container .footer-link-bold{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
}

.footer-policy{
  max-width: 1000px;
  margin: 0 auto;
}

.policy-list{
  list-style: none;
  font-size: 12px;
  margin-bottom: 20px;
}

.policy-list li{
  display: inline-block;
  border-right: 1px solid #aeaeae;
  padding-right: 16px;
  margin-right: 16px;
  line-height: 1.0;
}

.policy-list li:last-child{
  border: none;
}

.policy-list a{
  color: #aeaeae;
}

.policy-list a:hover{
  text-decoration: underline;
}

.footer-copyright{
  font-size: 10px;
  font-style: normal;
}